
<div class="card h-100">
      <div class="card-header text-center font-weight-bold text-white d-flex justify-content-between"
      [ngClass]="{
        'bg-success': getStdObj.pcat === 'product',
        'bg-primary': getStdObj.pcat === 'category'
      }"
      >
        {{getStdObj.pname}} <small><b><i>category</i></b></small>
      </div>
    <div class="card-body">
      {{getStdObj.pdesc}}
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button
        (click)="onProdEdit(getStdObj)"
        mat-raised-button color="primary"
        class="btn btn-sm">Edit</button>
        <button
        (click)="onProdRemove(getStdObj)"
        mat-raised-button color="warn"
        class="btn btn-sm">Remove</button>
    </div>
</div>

