
<div class="container">
    <h2 class="alert alert-primary text-capitalize mt-2 ">
    ToDo Task Using IO Decorator
</h2>
    <div class="row mt-2">
    <div class="col-md-6 md-mb-0">
      <app-todo-form
       [getEdit]="getEdit"
       (uToDoEmmiter)="getUpdatedTodo($event)"
      (newToDoEmmiter)="getNewToDo($event)"
      ></app-todo-form>
    </div>
    <div class="col-md-6 md-mb-0">
        <app-todo-list
        (etodoEmmiter)="getEditEmit($event)"
        (rtodoEmmiter)="getRtoDo($event)"
        [getTodoData]="todoArr"
        ></app-todo-list>
    </div>
</div>
</div>